<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMB Media | Marketing Agency</title>
    <link rel="icon" type="image/svg+xml" href="img/logo/logo2.png">
    <!-- Font Awesome Css -->
    <link rel="stylesheet" href="Style/plugins/font-awesome/css/all.min.css">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="Style/plugins/bootstrap/bootstrap.min.css">
    <!-- Magnific Popup Css -->
    <link rel="stylesheet" href="Style/plugins/magnific-popup.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="Style/plugins/animate.css">
    <!-- Slick-Slide-Css -->
    <link rel="stylesheet" href="Style/plugins/slick-slider/slick.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="Style/style.css">
    <!-- Responsive Css -->
    <link rel="stylesheet" href="Style/responsive.css">

<body data-scroll-animation="false">
    <!-- Header Section -->
    <header class="header_aria">
        <nav class="navbar navbar-expand-lg fixed-top bg-transfaren">
            <div class="container">
                <a class="navbar-brand" href="./">
                    <img src="img/logo/logo2.png" alt="" class="logo" id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i id="barikon" class="fa-solid fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="./" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Home <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#services" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Services <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link link dropdown-toggle" href="#profit" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Why us? <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        </li>
                    </ul>
                    <div class="nav_buttons">
                        <a target="_blank" href="https://calendly.com/bmbmedia/meeting" class="contact_btn">schedule a call</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Section -->
    <!-- Hero -->
    <section class="hero_marketing_agency" data-bg-color="#ff5154">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="hero_img wow fadeInLeft" data-wow-delay="0.1s">
                        <img src="img/hero/2.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="content">
                        <div class="section_title">
                            <h3>MAKE YOUR BUSINESS VISIBLE.</h3>
                            <h1 class="wow fadeInLeft" data-wow-delay="0.5s">Unlock your <br> online growth <br>
                                potential</h1>
                            <p class="wow fadeInLeft" data-wow-delay="0.7s">Helping Businesses Generate More Leads And Sales<br> Through Social Media.</p>
                        </div>
                        <div class="marketers wow fadeInLeft" data-wow-delay="0.9s">
                            <a id="popupbutton1" href="#calendlyCallSchedule" class="bg_btn wow fadeInLeft popupbutton" data-wow-delay="0.7s">Scale Your Business</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape_img">
            <img src="img/hero/shape/1.png" alt="" class="one wow fadeInLeft" data-wow-delay="0.1s">
            <img src="img/hero/shape/2.png" alt="" class="two wow fadeInLeft" data-wow-delay="1.3s">
            <img src="img/hero/shape/3.png" alt="" class="three wow fadeInRight" data-wow-delay="1.1s">
        </div>
    </section>
    <!-- Hero -->

    <!-- Counter -->
    <section class="counter_area">
        <div class="container">
            <div class="min_counter_area">
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="single_counter wow fadeInLeft" data-wow-delay="0.3s">
                            <h6>+ <span class="counter">3</span></h6>
                            <p>Skilled <br>
                                Professionals</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="single_counter wow fadeInLeft" data-wow-delay="0.1s">
                            <h6>% <span class="counter">100</span></h6>
                            <p>Risk Free<br>
                               Guarantee</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="single_counter wow fadeInLeft" data-wow-delay="0.5s">
                            <h6>+ <span class="counter">2</span></h6>
                            <p>Services <br>
                                Offered</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div id="services" class="single_counter wow fadeInLeft" data-wow-delay="0.7s">
                            <h6>+ <span class="counter">1</span></h6>
                            <p>Goal: <br>Your Growth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter -->

    <!-- Offer -->
    <section class="offer_box style_two">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="content">
                        <div class="section_title">
                            <h3><span>What We Offer</span></h3>
                            <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Mastery Requires Focus, So...</h2>
                            <h5>We are laser-focused on one thing, and we do it better than anyone else. If you're looking for a full-service agency that won't deliver results... move forward, we're not for you.<br><br>
                            If you're looking for an agency that gives you quick and easy access to a clear breakdown of your financials, including spending, revenue, and net profit - we're the right fit for you. <br><br>Paid ads and commercial filming/photography are a match made in heaven. With visually engaging and high-quality content, we can also help you increase the effectiveness of the advertisements, resulting in a higher return on investment.</h5> 
                        <div class="offer_btn">
                        <h3><span>Are You The Perfect Fit?</span></h3>
                        <a id="popupbutton2" href="#calendlyCallSchedule" class="bg_btn_color wow fadeInLeft popupbutton" data-wow-delay="0.3s">Let's find out!</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="min_offer_box">
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.9s">
                            <img src="img/icon/offer_box/4.svg" alt="">
                            <div class="content">
                                <h5>Paid Advertising</h5>
                                <p>We bring new clients to you through targeted Paid Advertisements on Facebook, Instagram, Google, YouTube or TikTok.<br><br>
                                    This way, you can focus on what really matters in your business - without having to worry about where your next client is coming from.</p>
<!--                                 <a href="./single" class="text_btn">Learn more <i
                                        class="fa-solid fa-arrow-right"></i></a> -->
                            </div>
                        </div>
                        <div class="single_offer_box wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="img/icon/offer_box/2.svg" alt="">
                            <div class="content">
                                <h5>Content Creation</h5>
                                <p>We specialize in commercial filming and photography, creating visually engaging and high-quality content to help your business stand out in the market.<br><br>
                                 Our expertise allows you to showcase your products or services in a professional and impactful way.</p>
<!--                                 <a href="./single" class="text_btn">Learn more <i
                                        class="fa-solid fa-arrow-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Offer -->
    <!-- Progress -->
    <section id="profit" class="progress_area service">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="section_img wow fadeInLeft" data-wow-delay="0.1s">
                        <img id="prog_img" src="img/progress/progress.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="min_progress_area">
                        <div class="content">
                            <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                                <h2>Your profit <br> what matters</h2>
                            </div>
                            <p class="wow fadeInLeft" data-wow-delay="0.5s"> 
                                We're a different breed of agency here. Our goal is to help you grow your business without getting bogged down in administrative tasks. As CEO, you must hire experts to manage the tasks that they are best at in order to focus on your company's expansion. Marketing is no exception to this rule. A strong team should unquestionably manage your Paid Ads. A solid marketing team is absolutely necessary. Take a look at any business. We're simply here to put you in the same boat as them.
                                <br><br> 
                                When you work with BMB Media, we do the magic and provide you with a predictable and scalable source of revenue, while you focus on other aspects of your business that are equally, if not more important. You should not be handling everything.
                                <br><br>
                                We believe in our service so much that we offer: <br>&bull; a <span>Free Custom Audit</span> to get you started <br>&bull; a <span>Risk-Free Guarantee</span> <b>- if our Paid Advertising doesn't deliver results, you don't pay a dime.</b><br>This way, you'll have a crystal clear vision for your unique situation. We'll show you exactly what we can do for you and how we can help you grow your business. We'll also show you how we can help you save money and time.</p>
                        </div>
                        <div class="line_progress_bar">
                            <div class="single_items wow fadeInLeft" data-wow-delay="0.7s">
                                <div class="progress_content">
                                    <h5>Guarantee</h5>
                                    <span>100%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_items wow fadeInLeft" data-wow-delay="0.9s">
                                <div class="progress_content">
                                    <h5>Results</h5>
                                    <span>100%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="single_items wow fadeInLeft" data-wow-delay="1.1s">
                                <div class="progress_content">
                                    <h5>Increased Online Growth</h5>
                                    <span>40%</span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Creative Agency -->
    <section class="creative_agency about_us">
        <div class="container">
                        <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                            <h2>With our <br>proven 4-step plan<br> we bring <span>your business</span> to the <span>TOP.</span></h2>
                        </div>
                        <div class="four_step">
                                <div class="fitem">
                                  <img src="img/four_step/report.png" alt="Analysis">
                                  <h3>Detailed<br> Analysis</h3>
                                  <p>Our experts will carefully<br> evaluate your business,<br> including your<br> online presence and goals,<br> to determine the best approach. </p>
                                </div>
                                <div class="fitem">
                                  <img src="img/four_step/strategy.png" alt="Strategy">
                                  <h3>Customized Strategy</h3>
                                  <p>Based on our analysis,<br> we will craft a tailored strategy<br> to maximize your growth, revenue and return on investment. </p>
                                </div>
                                <div class="fitem">
                                  <img src="img/four_step/implementation.png" alt="Implement">
                                  <h3>Expert Implementation</h3>
                                  <p> Our team will bring<br> your strategy to life with<br> effective paid advertising<br> or top-notch content creation. </p>
                                </div>
                                <div class="fitem">
                                  <img src="img/four_step/optim.png" alt="Optim">
                                  <h3>Continuous Optimization</h3>
                                  <p>We will continually monitor<br> and refine your strategy<br> to ensure ongoing success <br>and meet your evolving business needs. </p>
                                </div>
                          </div>
        </div>
    </section>
    <!-- Creative Agency -->
   <!-- Service Line -->
   <section class="service_line">
    <div class="line_item" data-bg-color="#ff7d7f">
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
    </div>
    <div class="line_item two" data-bg-color="#e4ded0">
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
        <h5><img src="img/icon/burst_pucker.png" alt="">Results-driven paid advertising and content</h5>
    </div>
</section>
<!-- Service Line -->
    <!-- Progress -->
    <!-- Project -->
 <!--    <section class="project" data-bg-color="#ff5154">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="wow fadeInLeft" data-wow-delay="0.3s">Explore some <br>
                    amazing projects</h2>
            </div>
            <div class="min_project_area">
                <div class="single_project wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="project_top">
                        <img src="img/project/1.png" alt="">
                        <ul class="tags list-unstyled">
                            <li><a href="portfolio-single.html">Branding</a></li>
                            <li><a href="portfolio-single.html">Ui/ux</a></li>
                            <li><a href="portfolio-single.html">Development</a></li>
                        </ul>
                    </div>
                    <div class="project_bottom">
                        <h4><a href="portfolio-single.html">Collateral Design
                                for Globex</a></h4>
                        <a class="project_btn" href="portfolio-single.html">View project<i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single_project wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="project_top">
                        <img src="img/project/3.png" alt="">
                        <ul class="tags list-unstyled">
                            <li><a href="portfolio-single.html">Branding</a></li>
                            <li><a href="portfolio-single.html">Ui/ux</a></li>
                            <li><a href="portfolio-single.html">Development</a></li>
                        </ul>
                    </div>
                    <div class="project_bottom">
                        <h4><a href="portfolio-single.html">Duct Tape design
                                for Brand</a></h4>
                        <a class="project_btn" href="portfolio-single.html">View project<i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single_project wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="project_top">
                        <img src="img/project/2.png" alt="">
                        <ul class="tags list-unstyled">
                            <li><a href="portfolio-single.html">Branding</a></li>
                            <li><a href="portfolio-single.html">Ui/ux</a></li>
                            <li><a href="portfolio-single.html">Development</a></li>
                        </ul>
                    </div>
                    <div class="project_bottom">
                        <h4><a href="portfolio-single.html">Packaging Design
                                for Sezane</a></h4>
                        <a class="project_btn" href="portfolio-single.html">View project<i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="single_project wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="project_top">
                        <img src="img/project/4.png" alt="">
                        <ul class="tags list-unstyled">
                            <li><a href="portfolio-single.html">Branding</a></li>
                            <li><a href="portfolio-single.html">Ui/ux</a></li>
                            <li><a href="portfolio-single.html">Development</a></li>
                        </ul>
                    </div>
                    <div class="project_bottom">
                        <h4><a href="portfolio-single.html">Branding Identity
                                for Haus</a></h4>
                        <a class="project_btn" href="portfolio-single.html">View project<i
                                class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <a href="portfolio-2-column.html" class="bg_btn wow fadeInLeft" data-wow-delay="0.7s">View all projects</a>
        </div>
    </section> -->
    <!-- Project -->

    <!-- Digital Agency -->
    <section id="calendlyCallSchedule" class="digital_agency h_4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_img wow fadeInLeft" data-wow-delay="0.1s">
                        <!-- <img src="img/digital_agency.png" alt=""> -->
<!-- Calendly inline widget begin -->
                        <div class="calendly-inline-widget" data-url="https://calendly.com/bmbmedia/meeting"></div>
                        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
                    </div>
                </div>

                <!-- self-ad popup -->
                <div id="myModal" class="modal">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h2>Don't let your marketing efforts go to waste!</h2>
                            <span class="close">&times;</span>
                        </div>

                        <div class="row">
                                <img src="../img/popup_pic.png" class="col-xl-4 popup-kep">
                                
                                <div class="content modal-body col-xl-4 containerTest">
                                    <h3 class="item1">Schedule a meeting & receive:</h3>
                                    
                                    <ul class="item2">
                                        <li><i class="fa-solid fa-arrow-right"></i>&#160;Free analysis of your marketing strategy and advertisements</li>
                                        <li><i class="fa-solid fa-arrow-right"></i>&#160;Valuable insights provided by team of experts</li>
                                        <li><i class="fa-solid fa-arrow-right"></i>&#160;Reaching your target audience</li>
                                    </ul>
                                </div>
                        </div>

                        <div id="scroll-container" class="modal-body">
                            <div id="scroll-text"><i>Act fast and book your call now - the offer is only available for a limited time!</i></div>
                        </div>
                    </div>
                </div>
                <!-- self-ad popup END -->

                <div class="col-lg-6">
                    <div class="content">
                        <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                            <h2>Schedule Your <br>Free <br>
                                Strategy Call !</h2>
                        <h3><span>Free Strategy for your Business</span></h3>
                        </div>
                        <p class="wow fadeInLeft" data-wow-delay="0.5s">Our 15-minute Strategy Call is a simple and effective way for you to set the course for a thriving online growth. You'll receive a comprehensive plan for securing consistent results through Paid Advertising and Content Creation, all without sacrificing a significant amount of time.<br><br> It's a no-brainer - a quick conversation with Us can lead to long-term online success for your business. Don't hesitate, schedule your call now and let's get started on making your online presence a success! </p>
                        <div class="section_title wow fadeInLeft" data-wow-delay="0.3s">
                            <h3><span>THIS CALL IS PERFECT FOR:</span></h3>
                        </div>
                        <ul class="agency_list list-unstyled">
                            <li class="wow fadeInLeft" data-wow-delay="0.7s"><i class="fa-solid fa-arrow-right"></i>Businesses aiming to increase their conversion rates & average order value</li>
                            <li class="wow fadeInLeft" data-wow-delay="1.1s"><i class="fa-solid fa-arrow-right"></i>Businesses seeking to expand their online presence</li>
                            <li class="wow fadeInLeft" data-wow-delay="1.1s"><i class="fa-solid fa-arrow-right"></i>Businesses ready to revamp their outdated online marketing strategies</li>
                            <li class="wow fadeInLeft" data-wow-delay="1.1s"><i class="fa-solid fa-arrow-right"></i>Businesses looking for a reliable agency that puts their needs first</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Digital Agency -->

    <!-- Aword -->
<!--     <section class="aword">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Awards we have gained</h2>
            </div>
            <div class="min_aword_area">
                <div class="singe_aword wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="left_content">
                                <img src="img/icon/award.png" alt="">
                                <div class="content">
                                    <h5><a href="contact.html">Creative Site of the Month</a></h5>
                                    <span>January 2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="right_content">
                                <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                    fermentum</p>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="singe_aword wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="left_content">
                                <img src="img/icon/award.png" alt="">
                                <div class="content">
                                    <h5><a href="contact.html">Best Design Award</a></h5>
                                    <span>March 2021</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="right_content">
                                <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                    fermentum</p>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="singe_aword wow fadeInLeft" data-wow-delay="0.7s">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="left_content">
                                <img src="img/icon/award.png" alt="">
                                <div class="content">
                                    <h5><a href="contact.html">Weekly Top Viewed Product</a></h5>
                                    <span>August 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="right_content">
                                <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                    fermentum</p>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="singe_aword wow fadeInLeft" data-wow-delay="0.9s">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="left_content">
                                <img src="img/icon/award.png" alt="">
                                <div class="content">
                                    <h5><a href="contact.html">Best Design of the Year</a></h5>
                                    <span>October 2018</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="right_content">
                                <p>Curabitur auctor metus et cursus feugiat phasellus tempus nibh non erat ultricies in
                                    fermentum</p>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="contact.html" class="bg_btn_color wow fadeInLeft" data-wow-delay="1.1s">Explore all</a>
        </div>
    </section> -->
    <!-- Aword -->

    <!-- Video Pop Up -->
<!--     <section class="video_popup h_4">
        <div class="popup_container" data-bg-img="img/video_bg.png">
            <a href="https://www.youtube.com/watch?v=ZrroZ_EiKx4" class="popup_btn"><i class="fa-solid fa-play"></i></a>
        </div>
    </section> -->
    <!-- Video Pop Up -->

    <!-- Clients -->
<!--     <section class="client">
        <div class="container">
            <div class="client_title wow fadeInLeft" data-wow-delay="0.1s">
                <h2>Over <span>2K+</span> businesses <br>
                    companies growing with us</h2>
            </div>
            <div class="min_client_area">
                <img src="img/clients/1.png" alt="" class="wow fadeInLeft" data-wow-delay="0.3s">
                <img src="img/clients/2.png" alt="" class="wow fadeInLeft" data-wow-delay="0.5s">
                <img src="img/clients/3.png" alt="" class="wow fadeInLeft" data-wow-delay="0.7s">
                <img src="img/clients/4.png" alt="" class="wow fadeInLeft" data-wow-delay="0.9s">
                <img src="img/clients/5.png" alt="" class="wow fadeInLeft" data-wow-delay="1.1s">
            </div>
        </div>
    </section> -->
    <!-- Clients -->

    <!-- Price -->
<!--     <section class="price">
        <div class="container">
            <div class="section_title text-center">
                <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Simple pricing plans</h2>
            </div>
            <div class="min_price_area">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="single_price_item wow fadeInLeft" data-wow-delay="0.3s">
                            <div class="price_top">
                                <h3>Startup</h3>
                                <h5>$180 <span>/mo</span></h5>
                                <p>We create list of assumptions validated in the research phase from the</p>
                            </div>
                            <ul class="price_list list-unstyled">
                                <li><i class="fa-solid fa-check"></i> Web & Mobile</li>
                                <li><i class="fa-solid fa-check"></i> Free Custom Domain</li>
                                <li><i class="fa-solid fa-check"></i> Best Hosting Ever</li>
                                <li><i class="fa-solid fa-check"></i> Outstanding Support</li>
                                <li><i class="fa-solid fa-check"></i> Web Design</li>
                            </ul>
                            <div class="price_bottom">
                                <a href="contact.html" class="bg_btn_color wow fadeInLeft" data-wow-delay="0.1s">Choose
                                    this
                                    plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_price_item wow fadeInLeft" data-wow-delay="0.5s">
                            <div class="price_top">
                                <h3>Business</h3>
                                <h5>$480 <span>/mo</span></h5>
                                <p>We create list of assumptions validated in the research phase from the</p>
                            </div>
                            <ul class="price_list list-unstyled">
                                <li><i class="fa-solid fa-check"></i> Web & Mobile</li>
                                <li><i class="fa-solid fa-check"></i> Free Custom Domain</li>
                                <li><i class="fa-solid fa-check"></i> Best Hosting Ever</li>
                                <li><i class="fa-solid fa-check"></i> Outstanding Support</li>
                                <li><i class="fa-solid fa-check"></i> Web Design</li>
                            </ul>
                            <div class="price_bottom">
                                <a href="contact.html" class="bg_btn_color wow fadeInLeft" data-wow-delay="0.1s">Choose
                                    this
                                    plan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="single_price_item wow fadeInLeft" data-wow-delay="0.7s">
                            <div class="price_top">
                                <h3>Enterprice</h3>
                                <h5>$780 <span>/mo</span></h5>
                                <p>We create list of assumptions validated in the research phase from the</p>
                            </div>
                            <ul class="price_list list-unstyled">
                                <li><i class="fa-solid fa-check"></i> Web & Mobile</li>
                                <li><i class="fa-solid fa-check"></i> Free Custom Domain</li>
                                <li><i class="fa-solid fa-check"></i> Best Hosting Ever</li>
                                <li><i class="fa-solid fa-check"></i> Outstanding Support</li>
                                <li><i class="fa-solid fa-check"></i> Web Design</li>
                            </ul>
                            <div class="price_bottom">
                                <a href="contact.html" class="bg_btn_color wow fadeInLeft" data-wow-delay="0.1s">Choose
                                    this
                                    plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Price -->

    <!-- Cta -->
<!--     <section class="cta h_4">
        <div class="container">
            <div class="min_cta_area" data-bg-img="img/cta/bg_2.png">
                <h3 class="wow fadeInLeft" data-wow-delay="0.1s">Are you ready to <span>grow?</span></h3>
                <p class="wow fadeInLeft" data-wow-delay="0.3s">We will make sure your company is portrayed in the best light possible.<br>So allow BMB Media to aid in your growth and assist you in reaching new heights.<br>Our help lets you focus on what matters - expanding your business.</p>
                <a class="mail wow fadeInLeft" data-wow-delay="0.5s"
                    href="mailto:auer@bmb.media">auer@bmb.media</a>
            </div>
        </div>
    </section> -->
    <!-- Cta -->
<!-- Team -->
<section class="team innar">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="wow fadeInLeft" data-wow-delay="0.1s">Meet The Team</h2>
            <h3><span>We are making an impact, not just promises.</span></h3>
        </div>
        <div class="min_team_area_innar">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="single_team wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="img/team/1.png" alt="">
                        <h5><a href="team-single.html">András Preisler</a></h5>
                        <span>Director of Photography</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_team wow fadeInLeft" data-wow-delay="0.5s">
                        <img src="img/team/2.png" alt="">
                        <h5><a href="team-single.html">Máté Auer</a></h5>
                        <span>Founder & CEO</span>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="single_team wow fadeInLeft" data-wow-delay="0.7s">
                        <img src="img/team/3.png" alt="">
                        <h5><a href="team-single.html">Benjamin Holló</a></h5>
                        <span>CHIEF MARKETING OFFICER</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team -->
    <!-- Cta -->
    <section class="cta h_4">
        <div class="container">
            <div class="min_cta_area" data-bg-img="img/cta/bg_2.png">
                <h3 class="wow fadeInLeft" data-wow-delay="0.1s">Are you ready to <span>grow?</span></h3>
                <p class="wow fadeInLeft" data-wow-delay="0.3s">We will make sure your company is portrayed in the best light possible.<br>So allow BMB Media to aid in your growth and assist you in reaching new heights.<br>Our help lets you focus on what matters - expanding your business.</p>
                <a target="_blank" id="popupbuttoncta" href="https://calendly.com/bmbmedia/meeting" class="bg_btn wow fadeInLeft popupbutton" data-wow-delay="0.7s">Speak to our team today!</a>
            </div>
        </div>
    </section>
    <!-- Cta -->
    <!-- Footer -->
    <footer class="footer" data-bg-color="#e4ded0">
        <div class="container">
            <div class="main_footer">
                <div class="row">
                    <div class="col-xl-4 col-md-6">
                        <div class="site_info logo_area wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="img/logo/logo1.svg" alt="" class="footer_logo">
                            <p>Make <span class="bword">BMB Media</span> <br>your choice<br> for exceptional growth <br>and standing out <br>from the competition.</p><div class="underline"></div><p> Our personalized approach,<br> risk-free guarantee, <br>and custom audit<br> ensure your success.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 mid">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.5s">
                            <h5>Keep in touch!</h5>
                            <div class="social_icons">
                                <a target="_blank" href="https://calendly.com/bmbmedia/meeting"><i class="fa fa-phone"></i></a>
                                <a href="mailto:auer@bmb.media"><i class="fa fa-envelope"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/in/auermate/"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 last min_contact_area">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.7s">
                            <h5>Have a general <span>question?</span></h5>
                            <form action="#" class="contact_form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control input wow fadeInLeft" data-wow-delay="0.5s"
                                            placeholder="Your Full Name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="email" class="form-control input wow fadeInLeft" data-wow-delay="0.7s"
                                            placeholder="Your Email Address">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="I'd Like To Chat About" name="massage" id="massage"
                                            class="form-control input textarea wow fadeInLeft"
                                            data-wow-delay="0.9s"></textarea>
                                        <input type="submit" class="bg_btn_color wow fadeInLeft" data-wow-delay="1.1s"
                                            value="Send message">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom wow fadeInLeft" data-wow-delay="0.9s">
                <div class="footer_bottom_list">
                    <div class="row">
                        <div class="col-xl-12">
                            <ul class="footer_nav list-unstyled">
                                <li><a href="#profit">Why us?</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="https://calendly.com/bmbmedia/meeting">Contact us</a></li>
                            </ul>
                        </div>
<!--                         <div class="col-xl-6">
                            <ul class="footer_nav right list-unstyled">
                                <li><a href="">Terms & conditions</a></li>
                                <li><a href="">privacy policy</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="footer_copyright">
                    <p>© 2023 BMB Media, All Rights Reserved | All Wrongs Reversed </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- jQuery Libraary -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper - Js For Bootstrap -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap - jS  -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints Js For Counter Up -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter Up - Js -->
    <script src="js/jquery.counterup.js"></script>
    <!-- Magnific Popup -Js -->
    <script src="js/magnific-popup.min.js"></script>
    <!-- Wow - Js -->
    <script src="js/wow.min.js"></script>
    <!-- Parallax - Js -->
    <script src="js/parallax.min.js"></script>
    <!-- Slick-Slidr-js -->
    <script src="js/slick.min.js"></script>
    <!-- Magnet-mouse -->
    <script src="js/magnet-mouse.min.js"></script>
    <!-- jquery-ui -->
    <script src="js/jquery-ui.js"></script>
    <!-- Main Js -->
    <script src="js/main.js"></script>
</body>

</html>