<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMB Media | Service</title>
    <link rel="icon" type="image/svg+xml" href="img/logo/logo2.png">
    <!-- Font Awesome Css -->
    <link rel="stylesheet" href="Style/plugins/font-awesome/css/all.min.css">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="Style/plugins/bootstrap/bootstrap.min.css">
    <!-- Magnific Popup Css -->
    <link rel="stylesheet" href="Style/plugins/magnific-popup.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="Style/plugins/animate.css">
    <!-- Slick-Slide-Css -->
    <link rel="stylesheet" href="Style/plugins/slick-slider/slick.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="Style/style.css">
    <!-- Responsive Css -->
    <link rel="stylesheet" href="Style/responsive.css">
</head>

<body data-scroll-animation="false">
    <!-- Header Section -->
    <header class="header_aria">
        <nav class="navbar navbar-expand-lg fixed-top bg-transfaren">
            <div class="container">
                <a class="navbar-brand" href="./">
                    <img src="img/logo/logo2.png" alt="" class="logo" id="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i id="barikon" class="fa-solid fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="./" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Home <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="./#services" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Services <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="./about" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Why us? <i class="fas fa-chevron-down"></i>
                            </a>
                        </li>
                        </li>
                    </ul>
                    <div class="nav_buttons">
                        <a href="./contact" class="contact_btn">Contact us</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header Section -->
    <!-- Breadcrumb -->
    <div class="breadcrumb_area" data-bg-color="#ff5154">
        <div class="container">
            <div class="breadcrumb_content">
                <h2>Paid Advertising</h2>
<!--                 <div class="breadcrumb_category">
                    <span><a href="index.html">Home</a></span>
                    <span><i class="fa-solid fa-arrow-right"></i></span>
                    <span><a href="">Single services</a></span>
                </div> -->
            </div>
        </div>
        <div class="shape_img">
            <img src="img/hero/shape/triangleleft.png" alt="" class="one">
            <img src="img/hero/shape/triangleright.png" alt="" class="two">
            <img src="img/hero/shape/dots.png" alt="" class="three">
        </div>
    </div>
    <!-- Breadcrumb -->

    <!-- Single Service -->
    <section class="single_service_with_sidebar">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="single_service_content">
                        <div class="content_top">
                            <img src="img/single_service.png" alt="">
                            <h4>Paid Advertising</h4>
                            <p>As a business owner, you are always on the lookout for ways to grow your company and reach new customers. You want to make sure that your marketing efforts are efficient, effective, and cost-conscious. That's where our paid advertising service comes in! By utilizing this powerful tool, you can take your business to new heights, reaching new customers and driving growth like never before.
                                <br><br>
                                Our paid advertising service provides a number of key benefits that make it an excellent choice for businesses of all sizes. Firstly, it increases visibility by ensuring that your business is seen by a wider audience. This means that you will generate more leads, sales, and revenue, all while building your brand and reaching new customers.
                                <br><br>
                                In addition, our advertising service allows you to target specific demographics and interests, ensuring that your ads are reaching the right people. No more wasting ad spend on people who aren't interested. Instead, you can focus your efforts on the audience that is most likely to be interested in your product or service.
                                <br><br>
                                Cost-effectiveness is another major advantage of our advertising service. With our pay-per-click model, you only pay for the clicks or impressions your ads receive, making it a cost-effective way to reach potential customers. This means that you can maximize your ad spend and get the best possible results for your business.
                                <br><br>
                                Another great aspect of our paid advertising service is the measurable results it provides. Our service provides detailed reports and analytics, allowing you to see exactly how well your campaigns are performing and make informed decisions for the future. This level of insight and transparency makes it easy for you to track your success and make improvements where necessary.
                                <br><br>
                                To top it all off, we are so confident in the effectiveness of our service that we offer a risk-free guarantee. If after our testing phase, you are not profitable, you don't pay. That's right - you have nothing to lose and everything to gain by investing in our paid advertising service.</p>
                            <ul class="service_single_list list-unstyled">
                                <li><i class="fa-solid fa-check"></i>Say goodbye to wasteful ad spend</li>
                                <li><i class="fa-solid fa-check"></i>Measure your success</li>
                                <li><i class="fa-solid fa-check"></i>Stay ahead of the competition</li>
                            </ul>
                        </div>
                        <div class="content_bottom">
                            <h5>Remarketing services</h5>
                            <p>Content marketing is one of the most valuable strategies for increasing traffic to your
                                site, earning more qualified leads, and boosting conversions. But if you want to <b>have
                                    an
                                    effective content marketing strategy,</b> you need to keep it up to date with with
                                the
                                latest trends. When you think of creating content, most people’s minds go straight to
                                blogging. While blogging is one of the most effective content marketing strategies, it’s
                                not the only player</p>
                            <blockquote class="blockquote">
                                <p><span>“</span> Lorem ipsum dolor sit amet, adipiscing consectetur elit, sed
                                    incididunt ut
                                    tempor labore et dolore magna aliqua do vestibulum mattis ullamcorper
                                    ullamcorper sed velit morbi tincidunt scelerisque tellus <span>”</span></p>
                                <div class="author">
                                    <span>Elara cooper</span>
                                    <span>/</span>
                                    <span>Visual designer</span>
                                </div>
                                <img src="img/testimonial/icon3.png" alt="">
                            </blockquote>
                            <p>Content marketing is one of the most valuable strategies for increasing traffic to your
                                site, earning more qualified leads, and boosting conversions. But if you want to <b>have
                                    an
                                    effective content marketing strategy,</b> you need to keep it up to date with with
                                the
                                latest trends. When you think of creating content, most people’s minds go straight to
                                blogging. While blogging is one of the most effective content marketing strategies, it’s
                                not the only player</p>
                        </div>
                    </div>
                    <div class="min_contact_area service-single">
                        <div class="section_title">
                            <h4>Contact with us</h4>
                        </div>
                        <form action="#" class="contact_form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control input wow fadeInLeft" data-wow-delay="0.5s"
                                        placeholder="Your full name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" class="form-control input wow fadeInLeft" data-wow-delay="0.7s"
                                        placeholder="Enter email address">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="massage" id="massage"
                                        class="form-control input textarea wow fadeInLeft"
                                        data-wow-delay="0.9s">Write your message</textarea>
                                    <input type="submit" class="bg_btn_color wow fadeInLeft" data-wow-delay="1.1s"
                                        value="Send message">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="service_sidebar">
                        <div class="service_sidebar_list list-unstyled">
                            <a href="single-service.html">
                                <p>Paid Advertising</p> <i class="fa-solid fa-arrow-right"></i>
                            </a>
                            <a href="single-service.html">
                                <p>Content creation</p> <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                        <div class="service_sidebar_post" data-bg-color="#FD7E7F">
                            <img src="img/logo/logo_small.png" alt="">
                            <h6><a href="single-service.html">Ready to step up your online presence?</a></h6>
                            <p>Uncover the untapped potential of your market niche through proven, field-tested advertising strategies.</p>
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Single Service -->

    <!-- Footer -->
    <footer class="footer" data-bg-color="#D9E0DD">
        <div class="container">
            <div class="main_footer">
                <div class="row">
                    <div class="col-xl-5 col-md-6">
                        <div class="site_info logo_area wow fadeInLeft" data-wow-delay="0.3s">
                            <img src="img/logo/logo.png" alt="" class="footer_logo">
                            <p>Main factor that sets us apart competition allows deliver a specialist business
                                consultancy service applies its ranging experience</p>
                            <div class="social_icons">
                                <a href="https://facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                <a href="https://bd.linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mid">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.5s">
                            <h5>Contact info</h5>
                            <ul class="loc_list list-unstyled">
                                <li>Neal St, London WC2H 9PR</li>
                                <li>United Kingdom</li>
                            </ul>
                            <ul class="contact_list list-unstyled">
                                <li class="mail"><a href="mailto:info.calmor@support.com">info.calmor@support.com</a>
                                </li>
                                <li><a href="tel:44793123456">+44 1793 123 456</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 last">
                        <div class="site_info wow fadeInLeft" data-wow-delay="0.7s">
                            <h5>Subscribe newsletter</h5>
                            <form action="#" class="subscribe_form">
                                <input type="email" class="form-control" placeholder="Enter your email address">
                                <input type="submit" class="bg_btn_color" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom wow fadeInLeft" data-wow-delay="0.9s">
                <div class="footer_bottom_list">
                    <div class="row">
                        <div class="col-xl-6">
                            <ul class="footer_nav list-unstyled">
                                <li><a href="portfolio-2-column.html">Portfolio</a></li>
                                <li><a href="team.html">our team</a></li>
                                <li><a href="pricing.html">pricing plan</a></li>
                                <li><a href="service.html">Services</a></li>
                                <li><a href="contact.html">contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-xl-6">
                            <ul class="footer_nav right list-unstyled">
                                <li><a href="contact.html">Terms & conditions</a></li>
                                <li><a href="contact.html">privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer_copyright">
                    <p>© 2022 BMB media </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- jQuery Libraary -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper - Js For Bootstrap -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap - jS  -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints Js For Counter Up -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter Up - Js -->
    <script src="js/jquery.counterup.js"></script>
    <!-- Magnific Popup -Js -->
    <script src="js/magnific-popup.min.js"></script>
    <!-- Wow - Js -->
    <script src="js/wow.min.js"></script>
    <!-- Parallax - Js -->
    <script src="js/parallax.min.js"></script>
    <!-- Slick-Slidr-js -->
    <script src="js/slick.min.js"></script>
    <!-- Magnet-mouse -->
    <script src="js/magnet-mouse.min.js"></script>
    <!-- jquery-ui -->
    <script src="js/jquery-ui.js"></script>
    <!-- Main Js -->
    <script src="js/main.js"></script>
</body>

</html>